[Unit]
Description=Speaker monitor service
After=network.target

[Service]
ExecStart=/usr/local/bin/python3 -u /home/developer/scripts/speakerMonitor.py
WorkingDirectory=/home/developer/scripts/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=developer

[Install]
WantedBy=multi-user.target
